/* === Fonts ==== */

$lineHeight: 20.08px ;

/* = Colors = */

$colorRed: #FF0000 ; 
$colorGrayLight: #898989 ; 
$colorBlack: #19202C ; 
$colorGray: #C2C2C2 ;  

$colorHover: $colorRed ; 
$colorBackground: $colorRed ; 
$colorSidebar: $colorGrayLight ; 
$colorTitle: $colorBlack ; 
$colorInfo-Settings: $colorGray ; 

/* = Colors = */

/* = Weight = */

$fw-sev: 700 ; 

/* = Weight = */

/* = Size = */

$fs-main: 16px ;

/* = Size = */

/* === Fonts ==== */

/* === Animation === */

$trans: .4s ; 

/* === Animation === */